<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/"
      class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Author of the post</strong>
    <small>17.11.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor eveniet fugit nam nihil tenetur vero. Ad doloremque dolorum eaque excepturi incidunt laudantium maiores, minima pariatur quaerat quam repellendus, totam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor eveniet fugit nam nihil tenetur vero. Ad doloremque dolorum eaque excepturi incidunt laudantium maiores, minima pariatur quaerat quam repellendus, totam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor eveniet fugit nam nihil tenetur vero. Ad doloremque dolorum eaque excepturi incidunt laudantium maiores, minima pariatur quaerat quam repellendus, totam!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolor eveniet fugit nam nihil tenetur vero. Ad doloremque dolorum eaque excepturi incidunt laudantium maiores, minima pariatur quaerat quam repellendus, totam!</p>
  </div>
</div>
